<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MaxPoolSize" value="300" />
    <add key="MinPoolSize" value="2" />
    <add key="PoolTimeOut" value="3" />
    <add key="ActiveTimeOut" value="3600" />
    <add key="BorrowTimeOut" value="300" />
    <add key="Language" value="MESSAGE_CHS,MESSAGE_CHT,MESSAGE_EN" />
    <add key="HWMesWebProxyIP" value="10.120.176.176" />
    <add key="HWMesWebProxyPort" value="80" />
    <add key="HWMesWebFactory" value="NNFSK" />
    <add key="HWMesWebUserName" value="G6000158" />
    <add key="HWMesWebProcStep" value="1" />
    <add key="HWMesWebOperation" value="111" />
    <add key="HWMesWebBarcodeType" value="LOT_ID" />
    <add key="HWMesWebService" value="GET_PRODUCT_INFO_EMS_BY_SN" />
    <add key="HWMesWebLanguage" value="1" />
    <add key="WebFilePath" value="H:\MIS\MES_Project\WebClient\DOWNLOAD" />
  
    <add key="HWD_SAP_AppServerHost" value="10.134.108.144" />
    <add key="HWD_SAP_SystemNumber" value="01" />
    <add key="HWD_SAP_User" value="HWV-BG" />
    <add key="HWD_SAP_Password" value="MESEDICU" />
    <add key="HWD_SAP_Client" value="811" />
    <add key="HWD_SAP_Language" value="ZF" />
    <add key="HWD_SAP_Plant" value="WDN1" />
    <add key="HWD_SAP_MessageServerHost" value="10.134.108.111" />
    <add key="HWD_SAP_LogonGroup" value="CNSBG" />
  
    <add key="VERTIV_SAP_AppServerHost" value="10.134.108.144" />
    <add key="VERTIV_SAP_SystemNumber" value="05" />
    <add key="VERTIV_SAP_User" value="NSGBG" />
    <add key="VERTIV_SAP_Password" value="MESEDICU" />
    <add key="VERTIV_SAP_Client" value="800" />
    <add key="VERTIV_SAP_Language" value="ZF" />
    <add key="VERTIV_SAP_Plant" value="NLEZ" />
    <add key="VERTIV_SAP_MessageServerHost" value="10.134.108.111" />
    <add key="VERTIV_SAP_LogonGroup" value="CNSBG" />
  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HateEmsGetDataServiceImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.44.57/mesplus-nnfsk/services/HateEmsGetDataService" binding="basicHttpBinding" bindingConfiguration="HateEmsGetDataServiceImplServiceSoapBinding" contract="HateEmsGetDataService.HateEmsGetDataService" name="HateEmsGetDataServiceImplPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
